.connect-button {
  --green: #c57898;
  font-size: 20px;
  padding: 0.7em 2.0em;
  letter-spacing: 0.06em;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-family: Haettenschweiler, fantasy, Courier, monospace;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 50%,transparent 20% , rgba(27, 253, 156, 0.1) 100%);
  color: white;
  z-index: 10;
  -webkit-text-stroke: rgb(121, 42, 77);
}

.connect-button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.connect-button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.connect-button:hover:before {
  transform: translateX(15em);
}

.selectLevel {
  background-image: url("../../../assets/img/modal_back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;

  .u-container {
    position: relative;
    width: 70vw;
    height: calc(70vw * 0.6);
    top: 1vw;
    margin: auto;
    background-image: url("../../../assets/img/level_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    vertical-align: middle;

    .u-content {
      position: relative;
      width: 50vw;
      height: calc(50vw * 0.6);
    }

    .u-ribbon {
      position: absolute;
      width: 60%;
      height: 6vw;
      left: 20%;
      top: -2.5vw;
      background-image: url("../../../assets/img/ribbon.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: 3vw;
      text-align: center;
      font-family: Haettenschweiler, fantasy, Courier, monospace;
      color: #fbfae2;
      -webkit-text-stroke: 0.05em #792a4d;
    }

    .u-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: calc(70vw * 0.6 - 3vw);
      display: grid;

      .u-content-container {
        width: 80%;
        height: 66%;
        margin: auto;
        display: grid;
        background-color: #422736;
        border-radius: 10px;
        border: 1px solid #80545b;

        .u-table-wrap {
          width: 100%;
          height: 100%;
          display: grid;
          padding: 5vw calc(5vw * 0.6);

          .u-row {
            display: flex;
            justify-content: space-evenly;

            .u-item-container {
              display: grid;

              .u-item {
                display: grid;
                align-self: center;
                align-items: center;
                background-image: url("../../../assets/img/victory_button.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 24vw;
                height: 90%;
                margin: auto;
                color: #f9f7c9;
                font-family: Haettenschweiler, fantasy, Courier, monospace;
                text-shadow: -2px 2px 2px #0d6c6e, 2px 2px 2px #0d6c6e,
                  2px -2px 2px #0d6c6e, -2px -2px 2px #0d6c6e;
                -webkit-text-stroke: 0.05em #0d6c6e;
                font-size: 2.5vw;
                background-color: transparent;
                border-color: transparent;
              }

              .u-item:active {
                font-size: 2.49vw;
              }
            }
          }
        }
      }
    }
  }
}
